@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    --primary-dark-cyan: hsl(158, 36%, 37%);
    --primary-cream: hsl(30, 38%, 92%);

    --neutral-very-dark-blue: hsl(212, 21%, 14%);
    --neutral-dark-grayish-blue: hsl(228, 12%, 48%);
    --neutral-white: hsl(0, 0%, 100%);

    --family-montserrat: "Montserrat", sans-serif;
    --family-fraunces: "Fraunces", serif;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 1rem;
    background-color: var(--primary-cream);
}

main {
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 21.4375rem;
    background-color: var(--neutral-white);
    border-radius: .625rem;

}

img {
    max-width: 100%;
    max-height: 15rem;
    border-radius: .625rem .625rem 0 0;
}

.product__detailes {
    padding: 1.5rem;
    color: var(--neutral-dark-grayish-blue);
    max-width: 100%;
}

.product__detailes .product__tpye {
    text-transform: uppercase;
    letter-spacing: .3125rem;
}

.product__detailes .product__name {
    font-size: 2rem;
    font-family: var(--family-fraunces);
    font-weight: bold;
    color: #1C232B;
    margin: .75rem 0 1rem;
}

.product__detailes .product__desc {
    font-family: var(--family-montserrat);
    font-size: .875rem;
    line-height: 1.4375rem;
    ;
    font-weight: 500;

}

.product__detailes .price {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1.1875rem;
    margin: 1.5rem 0 1.25rem;
}

.product__detailes .special-price {
    font-size: 2rem;
    color: var(--primary-dark-cyan);
    font-weight: bold;
    font-family: var(--family-fraunces);
}

.product__detailes .regular-price {
    font-size: .8125rem;
    font-family: var(--family-montserrat);
    line-height: 1.4375rem;
    text-decoration: line-through;
}

.product__detailes button>span::before {
    background-image: url("../images/icon-cart.svg");
    background-position: center;
    background-size: cover;
    content: " ";
    width: 1rem;
}

.product__detailes button>span {
    margin-left: 1rem;
}

.product__detailes button {
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--primary-dark-cyan);
    color: var(--neutral-white);
    font-weight: bold;
    padding: 1rem 0;
    font-size: .875rem;
    border-radius: .5rem;
}

@media only screen and (min-width: 48rem) {
    main {
        grid-template-columns: 1fr 1fr;
        max-height: 28.125rem;
        max-width: 37.5rem;
    }

    img {
        border-radius: .625rem 0 0 .625rem;
        max-height: 100%;
    }

    .product__detailes {
        padding: 2rem;
    }

    .product__detailes .product__name {
        margin: 1.25rem 0 1.5rem;
    }

    .product__detailes .price {
        margin: 1.8125rem 0 1.875rem;
    }
}




.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}